<div class="container mt">
    <a href="/users/register">Добавить пайщика</a><br>
    <a href="/users/load">Выгрузить данные логин/пароль</a>
    <ul class="collection with-header">
        {{#each users}}
            <li class="collection-item">
                <h5 class="title center">Номер места: {{number}}</h5>
                        <div>
                                <h5 class="grey-text text-darken-1">Данные пайщика</h5>
                                <div class="row ">
                                    <div class="input-field col s6 z-depth-5">
                                        <p>Имя: {{fio}}</p>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="input-field col s6 z-depth-5">
                                        <p>email: {{email}}</p>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="input-field col s6 z-depth-5">
                                        <p>первый пароль: {{oldPassword}}</p>
                                    </div>
                                </div>
                        </div>

                <form action="/users/delete/{{id}}?_method=DELETE" method="POST">
                    <a href="/users/edit/{{id}}" class="with-header waves-effect  waves-light blue btn">Редактировать</a>
                    <input  class="with-header waves-effect waves-light btn red" type="submit"  value="Удалить"/>
                </form>
            </li>
        {{/each}}
    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const options ={}
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, options);
    });
</script>
